@import "global";

// nav
nav {
    width: 100%;
    @include forLargeScreens(640) {
        width: 33%;
        margin-right: 1.67%
    }
}

// content area
section {
    width: 100%;
    @include forLargeScreens(640) {f
        width: 65.33%;
    }
}

// diffent width containers
.content- {
    @include forLargeScreens(640) {
        &a {
            width: 30%;
        }
        &c {
            width: 42%;
        }
    }
}